<div class="simple-check-in">
  <h3>Simple Check-in Test</h3>
  <p>{{message}}</p>
  <button 
    class="btn btn-primary"
    onclick={{action "checkIn"}}
    disabled={{loading}}
  >
    {{#if loading}}
      Checking in...
    {{else}}
      Check In
    {{/if}}
  </button>
</div>
